html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.content {
  margin: 0 auto;
  max-width: 50rem
}

.top-nav {
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DDD;
  z-index: 100;
}

.top-nav .content {
  position: relative;
  width: 60rem;
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03rem;
}

.links {
  position: absolute;
  margin: -.5em 0 0 0;
  top: 50%;
  right: 0;
}

.links > li {
  display: inline-block;
  padding: 0rem 1rem;
}

.logo {
  height: 4.375rem;
  margin-left: 1rem;
}

.links > .active {
    color: #4c5058;
    font-weight: 600;
}

.links > li:hover {
    cursor: pointer;
    color: #333333;
}

.intro {
  position: relative;
  background-image: url("../img/first-background.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45.938rem;
  overflow: auto;
  z-index: 10;
}

.intro .content {
  margin-top: 17.5rem;
  text-align: center;
  color: white;
}

.intro h1 {
  font-size: 3.125rem;
  font-weight: 300;
}

.intro h3 {
  margin-top: 1.25rem; 
  font-size: 1.563rem;
  font-weight: 300;
}

.half {
  padding: 16px 26px;
  display: inline-block;
  margin-top: 1.5rem;
}

button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}

.watch img {
  position: relative;
  top: 0.625rem;
  margin-right: 5px;
}

.bouncing-arrow {
  position: absolute;
  height: 5.625rem;
  width: 3.250rem;
  left: 50%;
  margin-left: -1.625rem;
  bottom: 0;
}

.bouncing-arrow img {
    -webkit-animation: bounce 1.2s ease-in-out infinite alternate;
    -o-animation: bounce 1.2s ease-in-out infinite alternate;
    animation: bounce 1.2s ease-in-out infinite alternate;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}
/* Standard syntax */ 
@keyframes bounce {
    0%, 100% {margin-top: 0px;}
    50% {margin-top: 2rem;}
}

.cases {
  position: relative;
}

.cases .content {
  margin-top: 7.875rem;
  margin-bottom: 10rem;
  text-align: center;
}

.cases h2 {
  font-size: 2.75rem;
  font-weight: 300;
}

.devices {
  margin-top: 3.125rem;
}

.cases .devices>li {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.cases .devices h3 {
  font-weight: 400;
  font-size: 1.563rem;
  margin: 2.5rem 0 1.875rem;
}

.cases .devices .pay h3 {
  margin: 2.5rem 0 3.85rem;
}

.cases .devices p {
  font-weight: 300;
  font-size: 1.313;
}

.buy-now {
  position: relative;
  background-image: url("../img/buy-now-bg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45.938rem;
  overflow: auto;
  z-index: 10;
}

.buy-now .adjustable {
  width: 15rem;
  margin-top: 5rem;
}

.buy-now h2 {
  font-weight: 400;
  font-size: 1.563rem;
  color: #f15a29;
  margin-bottom: 1.875rem;
}

.buy-now p {
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.5;
  color: #4c5058;
  margin-bottom: 1.250rem;
}

footer .content {
  padding: 3rem 0px 9.375rem 0px;
  text-align: center;
}

footer .footer-links>li {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: .97em;
  padding-left: 10%;
}

.footer-links h4 {
  margin: 1rem 0;
}

.footer-links p {
  margin: .5rem 0 0 0;
  font-weight: 200;
}

.footer-links a {
  color: #838994;
  text-decoration: none;
}

.social hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 8rem 1.313rem 8rem;
}

footer .icons > li {
  display: inline-block;
  border: 1px solid #eaebec;
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.25rem 5px;
  padding: 0.625rem 0;
}

footer .footer-links a:hover {
  color: #f15a29;
}

footer .icons > li:hover {
    cursor: pointer;
}

footer .twitter {
    color: #55acee;
}

footer .facebook {
    color: #4c66a4;
}

footer .instagram {
    color: #3f729b;
}

footer .copy {
  font-weight: 200;
  color: #838994;
}

